body {
    background: #F7F9FC;
    color: #575F7D;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
    display: block;
    margin: 8px;
}

.img_border {
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: auto;
  margin-top: -105px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #575F7D;
    font-size: 32px;
    font-weight: 900;
}

.card {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
    border: 1px solid #ddd;
}


.container {
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    width: 700px;
    max-width: 100%;
}

.button {
  background-color: #6B72E1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline i {
    font-size: 30px;
    color: #6b72e166;
}

.list-inline i:hover {
    color: #7ECE90;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

